:root {
  --main-font: Roboto, normal, sans-serif;
  --secondary-font: Raleway, normal, sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --description-text-color: #757575;
  --main-background-color: #ffffff;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --nav-link-color: #212121;
  --hero-background-color: #2f303a;
  --hero-title-color: #ffffff;
  --button-color: #ffffff;
  --ourteam-background-color: #f5f4fa;
  --team-member-color: #212121;
  --footer-background-color: #2f303a;
  --list-button-color: #212121;
  --adress-text-color: #ffffff;
  --adress-item-color: rgba(255, 255, 255, 0.6);
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--main-font);
}
.adress {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* header */
.header .container {
  display: flex;
  align-items: center;
}
.header a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-items:not(:last-child) {
  margin-right: 50px;
}
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: var(--header-logo-color);
}
.footer-logo {
  color: var(--footer-logo-color);
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--hero-background-color);
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
.hero-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-color);
  background: var(--accent-color);
}
/* features */
.features .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-items:not(:last-child) {
  margin-right: 30px;
}

.features {
  background-color: var(--main-background-color);
}
.features-title {
  margin-bottom: 10px;
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-description {
  width: 270px;
  height: 75px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
/* Specialization */
.specialization .container {
  padding-bottom: 94px;
}
.specialization-list {
  display: flex;
  justify-content: space-between;
}
/* .specialization-items:not(:last-child) {
  margin-right: 30px;
} */
.specialization {
  background-color: var(--main-background-color);
}
.specialization-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* team */
.ourteam .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-items:not(:last-child) {
  margin-right: 30px;
}
.team-list-content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.team-items {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
}
.ourteam {
  background-color: var(--ourteam-background-color);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--team-member-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
/* ========footer============ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}
.footer .container {
  display: flex;
  align-items: center;
}
.adress-links {
  display: flex;
  flex-direction: column;
}
.footer-contacts,
.social-contacts {
  display: inline-block;
}
.adress {
  margin-top: 20px;
  margin-right: 70px;
}
.footer .logo {
  margin-right: 0px;
}
.footer .link:not(:last-child) {
  margin-bottom: 9px;
}
.adress-map,
.adress-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-text-color);
}
.adress-item {
  color: var(--adress-item-color);
}
.adress-map:hover,
.adress-map:focus {
  color: var(--accent-color);
}
.adress-item:hover,
.adress-item:focus {
  color: var(--accent-color);
}
/* Header portfolio */
.header-portfolio .container {
  display: flex;
  align-items: center;
}
.header-portfolio a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-portfolio {
  border-bottom: #ececec 1px solid;
}
/* main portfolio */
.works {
  background-color: var(--main-background-color);
}
.list-button:hover,
.list-button:focus,
.list-button:active {
  background-color: var(--accent-color);
  color: var(--button-color);
}
.works .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .work {
  display: flex;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.menu .list-items:not(:last-child) {
  margin-right: 8px;
}
.work-items:nth-child(3n) {
  margin-right: 0;
}
.work-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-items {
  display: flex;
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}
.work-items-content {
  padding: 24px 20px;
}
.list-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--list-button-color);
}
.work-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.work-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
