:root {
  --main-font: Roboto, normal, sans-serif;
  --secondary-font: Raleway, normal, sans-serif;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --description-text-color: #757575;
  --main-background-color: #ffffff;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --nav-link-color: #212121;
  --hero-background-color: rgba(47, 48, 58, 0.4);
  --hero-title-color: #ffffff;
  --button-color: #ffffff;
  --ourteam-background-color: #f5f4fa;
  --team-member-color: #212121;
  --team-items-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --list-button-color: #212121;
  --adress-text-color: #ffffff;
  --adress-item-color: rgba(255, 255, 255, 0.6);
  --social-title: #ffffff;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--main-font);
}
.adress {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/*=========HEADER===========*/

.header .container {
  display: flex;
  align-items: center;
}
.header a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-items:not(:last-child) {
  margin-right: 30px;
}
.logo {
  margin-right: 93px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  color: var(--header-logo-color);
}
.footer-logo {
  color: var(--footer-logo-color);
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
}
.contacts-items {
  display: flex;
  align-items: center;
  justify-items: center;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-svg {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}
.header .contacts-item {
  display: flex;
  align-items: center;
  justify-items: center;
}
/* ==========END HEADER=========== */

/*=============HERO==============*/
.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  display: flex;
  width: 696px;
  height: 120px;
  margin: auto;

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
.hero-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-color);
  background: var(--accent-color);
}
/* ========END HERO=========== */

/* ===========FEATURES========= */
.features .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-items::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.icon-antenna::before {
  background-image: url(../images/features/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/features/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/features/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}
.features-items:not(:last-child) {
  margin-right: 30px;
}

.features {
  background-color: var(--main-background-color);
}
.features-title {
  margin-bottom: 10px;
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-description {
  width: 270px;
  height: 75px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
/* =============END FEATURES=========== */

/* =============SPECIALIZATION========= */
.specialization .container {
  padding-bottom: 94px;
}
.specialization-list {
  display: flex;
  justify-content: space-between;
}
/* .specialization-items:not(:last-child) {
  margin-right: 30px;
} */
.specialization {
  background-color: var(--main-background-color);
}
.specialization-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* ============END SPECIALIZATION======== */

/* ============TEAM=====================*/
.ourteam .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-items:not(:last-child) {
  margin-right: 30px;
}
.team-list-content {
  text-align: center;
}
.team-items {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list {
  display: flex;
}
.team-items {
  background-color: var(--team-items-background-color);
}
.ourteam {
  background-color: var(--ourteam-background-color);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-member {
  margin-bottom: 10px;
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--team-member-color);
}
.team-position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  fill: #afb1b8;
}
.team-social-list {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  justify-content: space-between;
}
.team-social-svg {
  width: 20px;
  height: 20px;
}
.team-social-item {
  display: flex;
  align-items: center;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}
/* ===============END TEAM============ */

/* =============CLIENTS================ */
.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1, 147;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #afb1b8;
}
.clients-list-item {
  display: flex;
  border: 1px solid currentColor;
}
.clients-link {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
  align-items: center;
  justify-items: center;
}
.clients-svg {
  margin: 20px 63px;
  color: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* ==============END CLIENTS=========== */

/* =================FOOTER============ */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}
.adress-links {
  display: flex;
  flex-direction: column;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-items: center;
}
.footer-social-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--social-title);
}
.footer-contacts,
.social-contacts {
  display: inline-block;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-contacts-svg {
  fill: #ffffff;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}
.adress {
  margin-top: 20px;
  margin-right: 70px;
}
.footer .logo {
  margin-right: 0px;
}
.footer .link:not(:last-child) {
  margin-bottom: 9px;
}
.adress-map,
.adress-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-text-color);
}
.adress-item {
  color: var(--adress-item-color);
}
.adress-map:hover,
.adress-map:focus {
  color: var(--accent-color);
}
.adress-item:hover,
.adress-item:focus {
  color: var(--accent-color);
}
/* ========HEADER PORTFOLIO======= */

.header-portfolio .container {
  display: flex;
  align-items: center;
}
.header-portfolio a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-portfolio {
  border-bottom: #ececec 1px solid;
}
/* ========END HEADER PORTFOLIO======== */

/* =========MAIN PORFOLIO============ */
.works {
  background-color: var(--main-background-color);
}
.list-button:hover,
.list-button:focus,
.list-button:active {
  background-color: var(--accent-color);
  color: var(--button-color);
}
.works .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .work {
  display: flex;
  flex-wrap: wrap;
}
.menu {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.menu .list-items:not(:last-child) {
  margin-right: 8px;
}
.work-items:nth-child(3n) {
  margin-right: 0;
}
.work-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.work-items {
  display: flex;
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;

  border: 1px solid #eeeeee;
}
.work-items-content {
  padding: 24px 20px;
}
.list-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--list-button-color);
}
.work-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.work-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}
.work-items:hover,
.work-items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
